body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /******* PERSONALIZACION ***************/

  /**scrollbar oculto***/
  .overflow-hidden::-webkit-scrollbar {display: none;}
  .overflow-hidden::-webkit-scrollbar {
    display: none;
    width: 10px;
    height: 10px;
    background-color: rgba(173, 216, 230, 0.205);
  }
  .overflow-hidden:hover::-webkit-scrollbar {
    display: initial;  
  }
  .overflow-hidden::-webkit-scrollbar-thumb {
    background-color: rgba(216, 216, 216, 0.555);
  }


  /******* FIN PERSONALIZACION ***********/

/****Padding y margin********/
.pa2 {padding: 5px;}
.pa2 {padding: 12px;}
.pa3 {padding: 15px;}
.pa4 {padding: 20px;}
.pa5 {padding: 25px;}
.pa6 {padding: 32px;}
.pa7 {padding: 45px;}
.pa8 {padding: 60px;}
.pa9 {padding: 80px;}

.pat2 {padding-top: 5px;}
.pat2 {padding-top: 12px;}
.pat3 {padding-top: 15px;}
.pat4 {padding-top: 20px;}
.pat5 {padding-top: 25px;}
.pat6 {padding-top: 32px;}
.pat7 {padding-top: 45px;}
.pat8 {padding-top: 60px;}
.pat9 {padding-top: 80px;}

.pab1 {padding-bottom: 5px;}
.pab2 {padding-bottom: 12px;}
.pab3 {padding-bottom: 15px;}
.pab4 {padding-bottom: 20px;}
.pab5 {padding-bottom: 25px;}
.pab6 {padding-bottom: 32px;}
.pab7 {padding-bottom: 45px;}
.pat8 {padding-bottom: 60px;}
.pab9 {padding-bottom: 80px;}

.pal1 {padding-left: 5px;}
.pal2 {padding-left: 12px;}
.pal3 {padding-left: 15px;}
.pal4 {padding-left: 20px;}
.pal5 {padding-left: 25px;}
.pal6 {padding-left: 32px;}
.pal7 {padding-left: 45px;}
.pal8 {padding-left: 60px;}
.pal9 {padding-left: 80px;}

.par1 {padding-right: 5px;}
.par2 {padding-right: 12px;}
.par3 {padding-right: 15px;}
.par4 {padding-right: 20px;}
.par5 {padding-right: 25px;}
.par6 {padding-right: 32px;}
.par7 {padding-right: 45px;}
.par8 {padding-right: 60px;}
.par9 {padding-right: 80px;}

.pab1n {padding-bottom: -5px !important;}
.pab2n {padding-bottom: -12px !important;}
.pab3n {padding-bottom: -15px !important;}
.pab4n {padding-bottom: -20px !important;}
.pab5n {padding-bottom: -25px !important;}
.pab6n {padding-bottom: -32px !important;}
.pab7n {padding-bottom: -45px !important;}
.pab8n {padding-bottom: -60px !important;}
.pab9n {padding-bottom: -80px !important;}

.mar1 {margin-right: 5px !important;}
.mar2 {margin-right: 12px !important;}
.mar3 {margin-right: 15px !important;}
.mar4 {margin-right: 20px !important;}
.mar5 {margin-right: 25px !important;}
.mar6 {margin-right: 32px !important;}
.mar7 {margin-right: 45px !important;}
.mar8 {margin-right: 60px !important;}
.mar9 {margin-right: 80px !important;}

.mal1 {margin-left: 5px !important;}
.mal2 {margin-left: 12px !important;}
.mal3 {margin-left: 15px !important;}
.mal4 {margin-left: 20px !important;}
.mal5 {margin-left: 25px !important;}
.mal6 {margin-left: 32px !important;}
.mal7 {margin-left: 45px !important;}
.mal8 {margin-left: 60px !important;}
.mal9 {margin-left: 80px !important;}

.mab1 {margin-bottom: 5px !important;}
.mab2 {margin-bottom: 12px !important;}
.mab3 {margin-bottom: 15px !important;}
.mab4 {margin-bottom: 20px !important;}
.mab5 {margin-bottom: 25px !important;}
.mab6 {margin-bottom: 32px !important;}
.mab7 {margin-bottom: 45px !important;}
.mab8 {margin-bottom: 60px !important;}
.mab9 {margin-bottom: 80px !important;}



/*********TEXT******
********************/

.weight-1 {font-weight: 100 !important;}
.weight-2 {font-weight: 200 !important;}
.weight-3 {font-weight: 300 !important;}
.weight-4 {font-weight: 400 !important;}
.weight-5 {font-weight: 500 !important;}
.weight-6 {font-weight: 600 !important;}
.weight-7 {font-weight: 700 !important;}
.weight-8 {font-weight: 800 !important;}
.weight-8 {font-weight: 900 !important;}
.weight-8 {font-weight: bold !important;}
.weight-8 {font-weight: bolder !important;}
.weight-8 {font-weight: lighter !important;}

/*  fontSize: */
.xs   {font-size: 0.75rem !important}
.sm   {font-size: 0.875rem !important}
.base {font-size: 1rem !important}
.lg   {font-size: 1.125rem !important}
.xl   {font-size: 1.25rem !important}
.xl2  {font-size: 1.5rem !important}
.xl3  {font-size: 1.875rem !important}
.xl4  {font-size: 2.25rem !important}
.xl5  {font-size: 3rem !important}
.xl6  {font-size: 4rem !important}
.fs1  {font-size: 1vw !important}
.fs2  {font-size: 1.4vw !important}
.fs3  {font-size: 1.6vw !important}
.fs4  {font-size: 1.8vw !important}
.fs5  {font-size: 2vw !important}
.fs6  {font-size: 2.2vw !important}
.fs7  {font-size: 2.4vw !important}
.fs8  {font-size: 2.6vw !important}